{% extends "base.html" %}
{% block content %}<style>body{background:url('{{ url_for('static', filename='story.jpeg') }}') no-repeat center center fixed;background-size:cover;}</style>
<div class="content">
<h2>Story</h2>

<div class='tableauPlaceholder' id='viz1770972947024' style='position: relative'>
    <object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https://public.tableau.com/' />
        <param name='embed_code_version' value='3' />
        <param name='name' value='VisualizingHousingMarketTrends-story/Story1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
    </object>
</div>

<script type='text/javascript'>
var divElement = document.getElementById('viz1770972947024');
var vizElement = divElement.getElementsByTagName('object')[0];
vizElement.style.width = '100%';
vizElement.style.height = '900px';
var scriptElement = document.createElement('script');
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>

</div>
{% endblock %}
